configuration {
  modi: "drun,ssh,calc";
  lines: 8;
  show-icons: true;
  theme: "nord";
  font: "sans-serif 13";
  display-drun: "";
  display-ssh: "Connect";
  display-calc: "Calculate";
  drun-display-format: "{name}";
  drun-show-actions: true;
  parse-known-hosts: false;
  parse-hosts: false;
  matching: "fuzzy";
}
